body {
  padding-top: 30px;
  color: $mainColor;
  background-color: #fff;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.page {
  flex: 1 1 auto;
}

._container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidthContainer;
}
